html {
  font-size: 14px;
}

h1, h2, p {
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(30deg, 38%, 92%);
  color: hsl(228deg, 12%, 48%);
  font-family: "Montserrat", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 8px;
  overflow: hidden;
  margin: 32px 16px;
}
main picture {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
}
main picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  gap: 16px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main section h2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 4px;
}
main section h1 {
  color: hsl(212deg, 21%, 14%);
  font-size: 33px;
  font-family: "Fraunces", serif;
  line-height: 33px;
}
main section p {
  line-height: 22px;
}
main section #prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 8px;
  gap: 16px;
}
main section #prices #offer {
  color: hsl(158deg, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 33px;
}
main section #prices #normal {
  text-decoration: line-through;
}
main section button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: hsl(158deg, 36%, 37%);
  color: hsl(0deg, 0%, 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: none;
  gap: 8px;
}
main section button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) and (max-width: 767px) {
  main {
    margin: 96px 64px;
  }
}
@media (min-width: 768px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 600px;
  }
  main picture {
    width: 50%;
  }
  main section {
    width: 50%;
    padding: 32px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main section button:hover {
    cursor: pointer;
    background-color: hsl(157deg, 44%, 17%);
  }
}/*# sourceMappingURL=styles.css.map */